<h1><%= @topic.name %></h1>
<p><%= @topic.content %></p>
  <table class="posts" summary="Important posts">
    <%= render @posts %>
  </table>
<%= will_paginate @posts %>

<%= link_to "Create new post", :controller => "posts", :action => "new", :id => @topic.id %>