<h1>Important</h1>
  <table class="posts" summary="Important posts">
    <%= render @important %>
  </table>
<h1>Events</h1>
  <table class="posts" summary="Event posts">
    <%= render @event %>
  </table>
<h1>Casts</h1>
  <table class="posts" summary="Casts posts">
    <%= render @cast %>
  </table>
<h1>Replays</h1>
  <table class="posts" summary="Replays posts">
    <%= render @replay %>
  </table>
<h1>Others</h1>
  <table class="posts" summary="Others posts">
    <%= render @other %>
  </table>