<tr>
  <td>
    <div onclick="location.href='<%= cast_path(cast) %>'" style="cursor: pointer" >
  <%= link_to cast.winner.name, cast.winner %><br/>
  <% if cast.winner_race == 1 then%>
    <%= image_tag('Protoss_2.png', :size => "100x100" ) %>
  <% elsif cast.winner_race == 2 then%>
    <%= image_tag('Terran_2.png', :size => "100x100") %>
  <% elsif cast.winner_race == 3 then%>
    <%= image_tag('Zerg_2.png', :size => "100x100") %>
  <% end %>
    </div>
  </td>
  <td>
    <%= image_tag('vs_icon.jpg') %>
  </td>
  <td>
    <div onclick="location.href='<%= cast_path(cast) %>'" style="cursor: pointer" >
  <%= link_to cast.loser.name, cast.loser %><br/>
  <% if cast.loser_race == 1 then%>
    <%= image_tag('Protoss_2.png', :size => "100x100" ) %>
  <% elsif cast.loser_race == 2 then%>
    <%= image_tag('Terran_2.png', :size => "100x100") %>
  <% elsif cast.loser_race == 3 then%>
    <%= image_tag('Zerg_2.png', :size => "100x100") %>
  <% end %>
    </div>
  </td>

  <% user = cast.user rescue User.find(cast.user_id)%>
  <td class="post" >
    <div onclick="location.href='<%= cast_path(cast) %>'" style="cursor: pointer" >
    <span class="title"><%= link_to cast.winner.name, cast.winner %> Vs. <%= link_to cast.loser.name, cast.loser %></span><br/>
    <span class="content"><%= cast.content %></span>
    <span class="timestamp">
      Posted by <%= link_to user.name, user %> <%= time_ago_in_words(cast.created_at) %> ago.
    </span>
</div>
  </td>
  <% if current_user?(cast.user) %>
  <td>
    <%= link_to "delete", cast, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => cast.content %>
  </td>
  <% end %>
</tr>
